:root{
  --c-pry : #1b232d;
  --c-pry-a : #1b232d60;
  --c-sec :#ed2243;
  --c-third:#ffffff;
}
.h1 a{
  color: white;
  text-decoration: none;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  
  width: 100%;
  padding:0px 20px;
  overflow: hidden;
  background-color:#090909;
  position: fixed;
  top:0px;
  left: 0%;
  z-index: 100;
  box-shadow: 0 0 10px #c8d3e0;

}
.a{
  color:var(--c-third);
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerMenu{
  display: grid;
  position:fixed;
  inset:10px 10px;
  border-radius: 10px;
  background-color:#ed3c4d;
  font-size: 30px;
  max-width: 550px;
  min-width: 320px;
  overflow: hidden;
  animation:showMenu 1s ease 0s forwards;
  
}

.a:hover{
  color: #ed3c4d;
  background-color: black;
  cursor:pointer;
  transition: font-size .5s ease ;
  font-size: 34px;
  
}
.none{
  display: none;

 /*  transition: display 1s ease 2s; */
}
.ocultarMenuLujoso{
  animation:hideMenu 500ms ease 0s ;
}


.btnMenu{
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.NavbarDesktop{
  display: none;
}
.ad{
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  height: 100%;
}
.ad:hover{
  color: #ed3c4d;

  cursor:pointer;
  transition: transform 0.5s ease ;
  transform: scale(1.4);
}

/* ---------------animaciones----------- */

@keyframes showMenu{
  from{
    inset:0% 0% 99% 100%;
    opacity: 0;
  }
  to{
    opacity: 1;
    inset:10px 10px;
    
  }
}
@keyframes hideMenu{
  from{
    opacity: 1;
    inset:10px 10px;
  }
  to{
    inset:10% 10%;
    opacity: 0;

    
  }
}

/* breakpoint query */

@media  (min-width:575px)  {
.btnMenu{
  display: none;
  
}
.header{
  height: 60px;
  
}
.NavbarDesktop{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: end;
}
}