*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxTarjeta{
  width: 100%;
  place-items: center;
  margin-top: 20px;
}
.figure{
  padding: 0;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 10px;
}
.img{
  border-radius: 10px;
  width: 100%;
}
.h3,.p,.figure{
  margin: 20px 0px;
}
.h3{
  text-align: start;
}
.br{

  border:think solid white;
  margin-bottom: 40px;
  margin-top:20px;
}
.p{
  text-align: justify;
}
.linkProyecto{
  color:white;
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 10px 20px;
  transition: color 0.5s ease
}

.linkProyectoDos:hover{
  color:var(--c-sec);
}



.btnProyecto{
  background-color: transparent;
  background-color: var(--c-sec);
  border:thin solid var(--c-sec);
  border-radius: 30px;
}
.btnProyecto:hover{
  background-color: black;
}

.btnGithub{
 margin-left: 10px;
 background-color:transparent;
 border:1px solid white;
 border-radius: 30px;
}
.btnGithub:hover{
 border:1px solid ;
 color: var(--c-sec);
 
 border:thin solid var(--c-sec);
}

@media  (min-width:557px) and (max-width:992px) {
  .boxTarjeta{
    display: grid;
    grid-template-columns: 45% 55%;
  }
 .figure{
  max-width: 500px;
 }
 .img{
  width: 100%;
 }
 .description{
  padding-left: 20px;
 }
}
@media  (min-width:992px) {
  .boxTarjeta{
    display: grid;
    grid-template-columns: 50% 50%;
  }
 .figure{
  height: 250px;
 }
 .img{
  width: 100%;
  max-width: 382px;
 }
 .description{
  padding-left: 20px;
 }
}
