---
import Navbar from '../components/Navbar';
---
<div class="containerTodo">
  
  <div class="containerAcerca">

    <Navbar client:load/>
    
    <div id="tAcerca"></div>
      <h1>
        <span class="span animate__animated  animate__bounceInLeft" style='--content:"Hola, yo soy";--start-color:#;--end-color:#; '>Hola </span>
        <span class="span span-name animate__animated  animate__bounceInLeft" style='--content:"Esteban Salas sulca";--start-color:#ed3c4d;--end-color:#ed3c4d; '>¡Soy Esteban salas! </span>
        <span class="span animate__animated  animate__bounceInLeft"  style='--content:"Frontend Developer  en React.js";--start-color:#;--end-color:#; '>Desarrollador Web <span class="spanTd"></span>  <!--y  <span class="spanTd">Node.js</span> --> </span>
  
      </h1>
  
    <div class="main-description">
      
      <p class="description-p animate__animated animate__bounceInRight">
        llevo +1 años en este mundo de la programación construyendo sitios web y aplicaciones web. 
      </p>
<!--       <p class="description-p animate__animated animate__bounceInRight">
        Soy muy apasionado por mi carrera, lo que hace que aprenda rápido y este siempre este actualizado. Busco poder aportar mi conocimiento en proyectos grandes.  
      </p> -->

      <button style="font-family:'Times New Roman', Times, serif ;" class="btn-main"> <a href="#proyectos">ver proyectos</a> </button>
      <div class="links-description">
        
        <div class="link-description">
          <a href="https://github.com/devSalas" target="_blank">
            <img src="./github.svg" alt="" >
          </a>
        </div>
        <div class="link-description">
          <a href="https://www.linkedin.com/in/esteban-salas-sulca-28354020a/" target="_blank">
            <img src="./linkedin.svg" alt="" >
          </a>
        </div>



      </div>
    </div>

    <slot/>
  </div>



</div>


<style>

.boxImage{
 display: none;
}

.links-description{
  display:flex;
  justify-content:center;
  align-items: center;
}
.link-description{
/* width:40px; */
margin:5px
}

  :root{
  --c-pry :  #090909;
  --c-pry-a : #090909;
  --c-sec :#ed2243;
  --c-sec-b:#ed2243;
  --c-third:#ffffff;
}
.shadow1{
  position: absolute;
  bottom:0%;
  left: 10%;
  width: 2px;
  height: 2px;
  background-color:  #ca192b;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 100px #7b0d18;
}
.shadow2{
  position: absolute;
  top:30%;
  right: -4%;
  width: 2px;
  height: 2px;
  background-color:  #95464e;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 100px #7b0d18;
}
  .containerAcerca{
		
		background:url("/bg-masthead.jpg");
    background-size: cover;
    position: relative;
    background-color:rgba(14, 13, 13, 0.694);
    background-blend-mode: darken;
    background-position: center;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 20% 35% 40%; 
    height: 100vh;
    overflow: hidden;

    

	}
  img{
    width: 100%;
    
  }
  .box-img{
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    background-color: blue;
    overflow: hidden;
    margin: 20px auto ;
  }
  .btn-main{
    width:250px;
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--c-sec);
    padding:0;
    border:none;
    margin: 30px 0px;
    cursor: pointer;
  }
  .btn-main:hover{
    box-shadow: 0 0 25px var(--c-sec);
  }



  .btn-main a{
    color:var(--c-third);
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 100%;
  }
  .main-description{
    padding: 10px 30px;
  
    
  }
  .description-p{
    text-align: center;
    max-width:500px;
    margin: auto;
    line-height:2rem;
  }

  h1{
    font-size: 1.6rem;
    text-align: center;
    place-self: center;
    /* padding: 40px; */
    font-weight: 700;
    letter-spacing: -.06em;
    
  }
  .span{
    display: block;
    line-height: 1.1;
  }

  .spanTd{
    color:var(--c-sec-b) ;
  }
  .span-name{
    color:var(--c-sec-b) ;
  }



  @media  (min-width:1024px) {

    h1{
    font-size: 2rem;
    text-align: center;
    place-self: center;
    font-weight: 700;
    letter-spacing: -.06em;
    
    }

    .boxImage{
    display: block;
    align-self: center;
    justify-self: center;
    min-width: 50%;
    max-width:70%;
    border-bottom: 5px solid #ca192b;
    border-radius: 10px;
    }
    .boxImage img{
      width:100%;
    }
    .box-img{
      display: none;
    }

    .containerAcerca{
      grid-template-rows: 20% 30%  40%; 
    }
    .containerTodo{

    display: grid;
    grid-template-columns:100%;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;

	}
  }
</style>