---
import Navbar from '../components/Navbar';
---
<div class="containerTodo">
  
  <div class="containerAcerca">

    <Navbar client:load/>
    
    <div id="tAcerca"></div>
    <div class="box-img">
      <img class="photoMobile" src="./perfil.jpg" alt="" />
    </div>
      <h1>
        <span class="span animate__animated  animate__bounceInLeft" style='--content:"Hola, yo soy";--start-color:#;--end-color:#; '>Hola </span>
        <span class="span span-name animate__animated  animate__bounceInLeft" style='--content:"Esteban Salas sulca";--start-color:#ed3c4d;--end-color:#ed3c4d; '>¡Soy Esteban salas! </span>
        <span class="span animate__animated  animate__bounceInLeft"  style='--content:"Frontend Developer  en React.js";--start-color:#;--end-color:#; '>Programador <span class="spanTd">junior </span>  <!--y  <span class="spanTd">Node.js</span> --> </span>
  
      </h1>
  
    <div class="main-description">
      
      <p class="description-p">
        Construyo paginas web y aplicaciones web. <br>
        <sub>
        "mi jobi se transformo en mi profesion"</sub>
      </p>

      <button class="btn-main"> <a href="../../public/cv/Curriculo-Esteban Salas sulca.pdf" target="_blank">cv</a> </button>
      <div class="links-description">
        
        <div class="link-description">
          <a href="https://github.com/devSalas" target="_blank">
            <img src="./github.svg" alt="" >
          </a>
        </div>
        <div class="link-description">
          <a href="https://www.linkedin.com/in/esteban-salas-sulca-28354020a/" target="_blank">
            <img src="./linkedin.svg" alt="" >
          </a>
        </div>



      </div>
    </div>

    <slot/>
  </div>
  <div class="boxImage">
    <img  src="/conJean.png" alt="">
  </div>


</div>


<style>

.boxImage{
 display: none;
}

.links-description{
  display:flex;
  justify-content:center;
  align-items: center;
}
.link-description{
/* width:40px; */
margin:5px
}

  :root{
  --c-pry :  #202733;
  --c-pry-a : #1b232d60;
  --c-sec :#ca192b;
  --c-sec-b:#dd1327;
  --c-third:#ffffff;
}
.shadow1{
  position: absolute;
  bottom:0%;
  left: 10%;
  width: 2px;
  height: 2px;
  background-color:  #ca192b;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 100px #7b0d18;
}
.shadow2{
  position: absolute;
  top:30%;
  right: -4%;
  width: 2px;
  height: 2px;
  background-color:  #95464e;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 100px #7b0d18;
}
  .containerAcerca{
		
		/* color: white !important; */
    max-width: 1440px;
    display: grid;
    grid-template-rows: 10% 30% 20% 40%; 
    height: 100vh;
    overflow: hidden;

	}
  img{
    width: 100%;
    
  }
  .box-img{
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    background-color: blue;
    overflow: hidden;
    margin: 20px auto ;
  }
  .btn-main{
    width:250px;
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--c-sec);
    padding:0;
    border:none;
    margin: 30px 0px;
    cursor: pointer;
  }
  .btn-main:hover{
    box-shadow: 0 0 25px var(--c-sec);
  }



  .btn-main a{
    color:var(--c-third);
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 100%;
  }
  .main-description{
    padding: 10px 30px;
  
    
  }
  .description-p{
    text-align: center;
    max-width:500px;
    margin: auto;
    /* padding: 0 20px; */
  }

  h1{
/*     position: relative;
    z-index: 100; */
    font-size: 1.6rem;
    text-align: center;
    place-self: center;
    padding: 40px;
    font-weight: 700;
    letter-spacing: -.06em;
    
  }
  .span{
    display: block;
    line-height: 1.1;
  }

  .spanTd{
    color:var(--c-sec-b) ;
  }
  .span-name{
    color:var(--c-sec-b) ;
  }
/*   @media  (min-width:557px) and (max-width:1440px) {

  .shadow1{
  position: absolute;
  bottom:0%;
  left: 10%;
  width: 2px;
  height: 2px;
  background-color:  #ca192b;
  border-radius: 100%;
  box-shadow: 0px 0px 200px 200px #7b0d18;
}
.shadow2{
  top:40%;
  right: 2%;
  width: 2px;
  height: 2px;
  background-color:  #95464e;
  border-radius: 100%;
  box-shadow: 0px 0px 200px 200px #7b0d18;
}
  } */




  @media  (min-width:1024px) {

    h1{
    font-size: 2rem;
    text-align: center;
    place-self: center;
    padding: 40px;
    font-weight: 700;
    letter-spacing: -.06em;
    
    }

    .boxImage{
    display: block;
    align-self: center;
    justify-self: center;
    min-width: 50%;
    max-width:70%;
    border-bottom: 5px solid #ca192b;
    border-radius: 10px;
    }
    .boxImage img{
      width:100%;
    }

/*     .shadow1{
      bottom:0%;
      left: 10%;
      width: 2px;
      height: 2px;
      background-color:  #ca192b;
      border-radius: 100%;
      box-shadow: 0px 0px 200px 200px #7b0d18;
    } 
    .shadow2{
      position: absolute;
      top:40%;
      right: -2%;
      width: 2px;
      height: 2px;
      background-color:  #95464e;
      border-radius: 100%;
      box-shadow: 0px 0px 200px 200px #7b0d18;
    } */
    .box-img{
      display: none;
    }

    .containerAcerca{
      grid-template-rows: 20% 30%  40%; 
    }
    .containerTodo{
		
		/* color: white !important; */
    max-width: 1440px;
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;

	}
  }
</style>