---
import RedesSociales from "../components/Redes-sociales";
---


  <div class="containerContacto">
    <h2 id="contacto">CONTACTO</h2>
    <div class="box-links">

      <RedesSociales url={"https://www.linkedin.com/in/esteban-salas-sulca-28354020a/"} img={"../../public/phone-call.svg"} nombre={"927 859 435"}/>
      <RedesSociales url={"https://mail.google.com/mail/u/0/#inbox"} img={"../../public/icons8-gmail-logo.svg"} nombre={"esalassulca@gmail.com "}/>
      <RedesSociales url={"https://www.linkedin.com/in/esteban-salas-sulca-28354020a/"} img={"../../public/linkedin.svg"} nombre={"linkedin"}/>
      <RedesSociales url={"https://github.com/devSalas"} img={"../../public//github.svg"} nombre={"Github"}/>
    </div>
  </div>
    <style>
      .links {
        display: grid;
        place-items: center;

        margin: 20px 0px;
      }
      .box-links{
        max-width:700px;
        margin: auto;
      }
      img {
        width: 50px;
      }
      h2 {
        margin: 30px 0;
      }
      .containerContacto{
        padding-top: 60px;
      }



      @media  (min-width:575px) and (max-width:1440px) {
        .box-links{
          display: grid;
          grid-template-columns: repeat(2,45%);
          gap: 10% 10%;
          margin-bottom: 40px;
          
        }
      }
    
    
    </style>

    

