<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 id="contacto">CONTACTO</h2>
  <div class="box-links">
    <div class="links"><img src="../../public/phone-call.svg" alt=""> <span>927 859 435</span> </div>
    <div class="links"><img src="../../public/icons8-gmail-logo.svg" alt=""> esalassulca@gmail.com</div>
    <div class="links"><img src="../../public/github.svg" alt=""> https://github.com/devSalas </div>
    <div class="links"><img src="../../public/linkedin.svg" alt=""> https://www.linkedin.com/in/esteban-salas-sulca-28354020a/</div>
  </div>

</body>
</html>

<style>
  .links{
    display: grid;
    place-items: center;
    
    margin: 20px 0px;
  }
  img{
    width: 50px;
  }
  h2{
    margin: 30px 0;
  }

</style>