<section class="intro" id="about">
  <h2>MI NOMBRE ES ESTEBAN SALAS<br>
  SOY FRONT-END DEVELOPER</h2>
  <p>soy una persona muy apasiona a esta profesion. Disfruto poder transmitir mis ideas atraves de codigo.Cada conocimiento nuevo que obtengo me gusta usarlo en mis proyectos. </p>
</section>

<style>
  
</style>