---
import TarjetaProyecto from "../components/TarjetaProyecto";
  const pro1={
    uno:"Esta pagina te permitira encontrar las imagenes en muy buena calidad, de manera rapida.",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: HTML, CSS , JS y la API de Unspash.",

  }
  const pro2={
    uno:"En esta pagina encontraras los mejores Gift que te puedas imaginar 😁",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: REACT y la api de Unspash",

  }
---


<div class="containerProyecto" id="proyectos">
  <h2 >PROYECTOS</h2>
  <TarjetaProyecto title={"BUSCADOR DE IMAGENES"}  img={"./buscadorImg.jpg" } figcaption={"naturalez"} description={pro1} url={"https://estebansalas.xyz/"}  />

  <TarjetaProyecto title={"BUSCADOR DE GIFT"}  img={"./giphy-img.jpg" } figcaption={"naturalez"} description={pro2} url={"https://estebansalas.xyz/"} />

</div>

<style>
  h2{
    margin: 20px 0px;
  }
  .containerProyecto{
    padding: 50px 0px 0px 0px;
  }



</style>

