---
import TarjetaProyecto from "../components/TarjetaProyecto";

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 id="proyectos">PROYECTOS</h2>
  <TarjetaProyecto title={"titulo"}  img={"https://placeimg.com/500/400/nature" } figcaption={"naturalez"} description={""} url={"https://estebansalas.xyz/"}  />
  <TarjetaProyecto title={"titulo"}  img={"https://placeimg.com/500/400/nature" } figcaption={"naturalez"} description={""} url={"https://estebansalas.xyz/"} />

</body>
</html>

<style>
  h2{
    margin: 20px 0px;
  }
</style>