


  
  <div class="skills" id="skills">
    <h2 >SKILLS</h2>
    <h3 class="skills-h3">FRONTEND</h3>
    <div class="boxSkills">
      <figure class="skill_know">
        <img class="skill_know-img" src="./html.png" alt="">
        <figcaption>HTML</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./css-3.png" alt="">
        <figcaption>CSS</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./js.png" alt="">
        <figcaption>JS</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./react.png" alt="">
        <figcaption>Bootstrap</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./bootstrap.png" alt="">
        <figcaption>Bootstrap</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./tailwind.png" alt="">
        <figcaption>Tailwind</figcaption>
      </figure>
    </div>
    <h3 class="skills-h3">BACKEND</h3>

    <div class="boxSkills">
      <figure class="skill_know">
        <img class="skill_know-img" src="./nodejs.png" alt="">
        <figcaption>NODE JS</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./c.png" alt="">
        <figcaption>C#</figcaption>
      </figure>
    </div>
    <h3 class="skills-h3">BASE DE DATOS</h3>

    <div class="boxSkills">
      <figure class="skill_know">
        <img class="skill_know-img" src="./mysql.png" alt="">
        <figcaption>MySql</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./mongo.png" alt="">
        <figcaption>Mongo</figcaption>
      </figure>
    </div>
    <h3 class="skills-h3">TRABAJO EN EQUIPO</h3>
    <div class="boxSkills">
      <figure class="skill_know">
        <img class="skill_know-img" src="./git.png" alt="">
        <figcaption>Git</figcaption>
      </figure>
      <figure class="skill_know">
        <img class="skill_know-img" src="./github.png" alt="">
        <figcaption>Github</figcaption>
      </figure>
    </div>
  </div>
<style>
  /* 
    skills
*/
h2{
  margin: 70px 0px;
}
.skills{
padding: 20px  0px 60px 0px;
}

.skills-h3{
margin:30px 0px 10px 0px;
}

.boxSkills{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skill_know{
  max-width: 70px;
  margin:10px
}

.skill_know-img{
  width: 100%;
  min-width: 70px;
}

@media  (min-width:572px) and (max-width:980px) {


  }
</style>